.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(3rem, 8dvh, 4.675rem);
  flex-shrink: 0;
  text-align: center;
  background-color: var(--color-footer-bg);
  color: var(--color-footer-txt);
  font-weight: 500;
  font-size: clamp(0.75rem, 2vw, 0.875rem);
}
