.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74.75px;
  text-align: center;
  background-color: #252525;
  color: #aaaaaa;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}
