:root {
  --color-navy: #0b3265;
  --color-dark: #212327;
  --color-orange: #fe771f;
  --color-cream: #fbf5e7;

  --font-base: "Inter Variable", system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-base);
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
}
